pytest
pyhamcrest<1.10 # Version 1.10 is broken
https://github.com/wazo-platform/wazo-applicationd-client/archive/main.zip
https://github.com/wazo-platform/xivo-test-helpers/archive/master.zip
kombu
https://github.com/rsichny/swagger-py/archive/master.zip  # the digium release does not support python3
https://github.com/wazo-platform/ari-py/archive/0.4.0.zip
https://github.com/wazo-platform/wazo-calld-client/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
